$uvSize: 175px;

.queueContainer {
  width: 22rem;
  border-left: 2px solid rgba(255,255,255,.4);
  height: 100%;
  padding-left: 2rem;
  margin-left: 2rem;
}

.queue {
  background: rgba(19, 42, 70, .2);
  padding: 1rem 2rem;
  height: 100%;
}

.uvIndex {
  width: $uvSize;
  height: $uvSize;
  // border-radius: 50%;
  // border: 2px solid white;
  // display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &Description {
    font-size: 1.25rem;
  }
  &Number {
    font-size: 3rem;
    line-height: 3rem;
  }
  &Updated {
    font-size: .85rem;
  }
}
