.grid {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  margin: -.85rem;
  height: 250px;
  overflow: hidden;
  &::after {
    content: '';
    flex-grow: 50;
  }
}

.header {
  color: #963a80;
  font-size: 1.5rem;
  // letter-spacing: .1rem;
  // text-shadow: 1px 1px darken(#3AC7E6, 20%);
  letter-spacing: 1px;
  margin-bottom: 1.25rem;
  font-family: 'Squada One';
}
