.card {
  overflow: hidden;
  width: 175px;
  margin: .85rem;
}

.imageContainer {
  position: relative;
  margin: 0 auto .75rem;
  width: 175px;
  max-width: 175px;
}

.image {
  border-radius: .5rem;
}

.imageOverlay {
  border-radius: .5rem;
  // filter: sepia(100%) hue-rotate(270deg) saturate(500%);
  position: absolute;
  opacity: .35;
  top: 0;
  left: 0;
}

.title,
.artist,
.album {
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: .85rem;
  line-height: 1.25rem;
  overflow: hidden;
}

.artist {
  font-weight: 300;
}

.title {
  font-weight: 700;
}

.album {
  display: none;
  font-weight: 100;
  font-size: 1.25rem;
  line-height: 1rem;
}

